<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>

        <pipelines>
            <convertToXConnectEvent>
                <processor patch:before="processor[@type='Sitecore.Analytics.XConnect.DataAccess.Pipelines.ConvertToXConnectEventPipeline.ConvertPageEventDataToGoal, Sitecore.Analytics.XConnect']" type="Hackathon.Boilerplate.Foundation.BusinessValueTracker.Processors.ConvertDemoGoal, Hackathon.Boilerplate.Foundation.BusinessValueTracker"/>
            </convertToXConnectEvent>
        </pipelines>

        <xconnect>
            <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
                <schemas hint="list:AddModelConfiguration">
                    <schema name="customcontactmodel" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration" patch:after="schema[@name='collectionmodel']">
                        <param desc="modeltype">Hackathon.Boilerplate.Foundation.BusinessValueTracker.Models.Xdb.XdbContactModel, Hackathon.Boilerplate.Foundation.BusinessValueTracker</param>
                    </schema>
                </schemas>
            </runtime>
        </xconnect>

        <pipelines>
            <initialize>
                <processor type="Hackathon.Boilerplate.Foundation.BusinessValueTracker.Processors.TaskAgent, Hackathon.Boilerplate.Foundation.BusinessValueTracker" />
            </initialize>
        </pipelines>

        <scheduling>
            <frequency>00:01:00</frequency>
            <agent type="Hackathon.Boilerplate.Foundation.BusinessValueTracker.Schedulers.TaskAgentScheduler, Hackathon.Boilerplate.Foundation.BusinessValueTracker" method="Run" interval="00:03:00" />
        </scheduling>

    </sitecore>
</configuration>